@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3vw;
        margin-left: 3%;
        margin-right: 0%;
    }

    legend {
        font-size: 1.5vw;
        text-align: center;
    }

    a {
        font-size: 1.5vw;
    }

    b {
        font-size: 1.5vw;
    }

    p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 2vw;
    }

    .welcomeText {
        font-size: 4vw;
    }

    .userInfo {
        margin-bottom: 2vw;
    }

    .imgEditUser {
        margin-top: 1vw;
        /*margin-left: 3.5vw;*/
        width: 4vw;
        height: 4vw;
    }

    .imgEditUser:active {
        scale: 0.9;
    }

    input {
        /*border: 2px solid black;*/
        border: 0;
        border-radius: 20px;
        box-sizing: border-box;
        font-size: 2vw;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        width: 100%;
        background-color: #ebebeb;
    }

    input:focus {
        border-radius: 8px;
        outline: none;
    }

    .searchBar {

    }

    /*https://moderncss.dev/custom-select-styles-with-pure-css/*/
    /*test*/

    select {
        font-size: 1.4vw;
        border-radius: 20px;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        margin-bottom: 5vw;
        background-color: #ebebeb;
    }

    select option {
        font-size: 1.4vw;
        border-radius: 20px;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0.5vw;
        background-color: #ebebeb;
    }

    button {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        font-size: 2vw;
        background-color: darkblue;
        color: white;
        border: 0;
        border-radius: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .groupButtonDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .groupButton {
        font-size: 2vw;
        display: inline-block;
    }

    .indexButton {
        width: 90%;
        justify-content: center;
    }

    .arrowImg {
        margin-top: 10%;
        width: 30%;
    }

    .arrowImg:active {
        width: 30%;
        scale: 0.9;
    }

    .arrowBox {
        text-align: center;
        display: flex;
    }

    .navImg {
        width: 15%;
        height: 15%;
        margin-left: 3%;
    }

    .userInfo {
        display: flex;
        align-items: center;
    }

    .editUser {
        text-align: center;
    }

    .marginUserInfo {
        margin-left: 2vw;
        min-width: 5vw;
        padding: 1vw;
    }

    .userInfoButton {
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color: transparent;
    }

    .userInfoButton:disabled {
        opacity: 0.3;
    }

    .quizButton {
        font-size: 2vw;
        width: 95%;
        margin: 1vw;
    }

    .aboutUs {
        margin-top: 5%;
    }

    .navBox {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: transparent;
        margin-bottom: 10px;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 15px;
        border: 0.5vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    fieldset {
        display: block;
        text-align: center;
        border-radius: 15px;
        border: 0.5vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        padding: 5%;
        padding-top: 0.2%;
        padding-bottom: 3%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .marginText {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .animation {
        animation: 1s slide-left;
    }
    @keyframes slide-left {
        from {
            margin-left: 100%;
        }
        to {
            margin-left: 30%;
        }
    }

    .aboutUs {
        margin-top: 5%;
    }

    #page2 {
        display: none;
    }

    .link {
        color: #311e42;
    }

    button:active {
        scale: 0.95;
    }

    .subContent {
        margin-left: 0px;
        position: absolute;
        bottom: -35%;
        left: 0%;
        background-color: lightblue;
    }
}