html {
    /*TEST*/
    /*https://fonts.google.com/specimen/Roboto*/
    font-family: "Roboto", sans-serif;
    overflow-y: scroll; overflow-x:hidden;
    scroll-behavior: smooth;
    min-height: 100%;
    justify-content: center;
}

body {
    background: linear-gradient(to right bottom, #d1c6f3, #e9bcac);
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    text-align: center;
}

.indexButton {
    width: 90%;
}

.checkBox {
    height: 7vw;
    width: 7vw;
    margin-left: 0;
}

.checkBoxDiv {
    float: left;
}

.aboutUs {
    margin-top: 5%;
}

#page2 {
    display: none;
}

.link {
    color: #311e42;
}

button:active {
    scale: 0.95;
}

.subContent {
    margin-left: 0px;
    position: absolute;
    bottom: -35%;
    left: 0%;
    background-color: lightblue;
}