@media only screen and (max-width: 600px) {
    h1 {
        font-size: 7vw;
        margin-left: 3%;
        margin-right: 0%;
    }

    legend {
        font-size: 6vw;
        text-align: center;
    }

    p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 5vw;
    }
    
    b {
        font-size: 4vw;
    }

    .userInfo {
        margin-bottom: 2vw;
    }

    .imgEditUser {
        width: 8vw;
        height: 8vw;
    }

    .imgEditUser:active {
        scale: 0.9;
    }

    input {
        /*border: 2px solid black;*/
        border: 0;
        border-radius: 20px;
        box-sizing: border-box;
        font-size: 6vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        background-color: #ebebeb;
    }
    
    input:focus {
        border-radius: 8px;
        outline: none;
    }

    button {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        font-size: 7vw;
        background-color: darkblue;
        color: white;
        border: 0;
        border-radius: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .arrowImg {
        margin-top: 30%;
        width: 50%;
        height: 50%;
    }
      
    .arrowImg:active {
        margin-top: 30%;
        width: 35%;
        height: 35%;
        scale: 0.9;
    }
      
    .arrowBox {
        text-align: center;
        display: flex;
    }

    .navImg {
        width: 15%;
        height: 15%;
        margin-left: 3%;
    }

    .userInfo {
        display: flex;
        align-items: center;
    }

    .editUser {
        text-align: center;
    }

    .marginUserInfo {
        margin-left: 2vw;
        min-width: 5vw;
        padding: 1vw;
    }

    .userInfoButton {
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color: transparent;
    }

    .userInfoButton:disabled {
        opacity: 0.3;
    }

    .quizButton {
        font-size: 5vw;
        width: 100%;
        margin: 1vw;
    }

    .checkBox {
        height: 7vw;
        width: 7vw;
        margin-left: 0;
    }
    
    .checkBoxDiv {
        float: left;
    }
    
    .aboutUs {
        margin-top: 5%;
    }
    
    .navBox {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: transparent;
        margin-bottom: 10px;
        border-radius: 15px;
        border: 1vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    
    fieldset {
        border-radius: 15px;
        border: 1vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .marginText {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .animation {
        animation: 1s slide-left;
    }
    @keyframes slide-left {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: 0%;
        }
    }
    
    .aboutUs {
        margin-top: 5%;
    }
    
    #page2 {
        display: none;
    }
    
    .link {
        color: #311e42;
    }
    
    button:active {
        scale: 0.95;
    }
    
    .subContent {
        margin-left: 0px;
        position: absolute;
        bottom: -35%;
        left: 0%;
        background-color: lightblue;
    }
  }