@media only screen and (max-width: 600px) {
    h1 {
        font-size: 7vw;
        margin-left: 3%;
        margin-right: 0%;
    }

    legend {
        font-size: 6vw;
        text-align: center;
    }

    a {
        font-size: 5vw;
    }

    label {
        font-size: 5vw;
    }

    p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 5vw;
    }

    .welcome-text {
        font-size: 6vw;
    }

    .img-edit-user {
        margin-top: 4.5vw;
        margin-left: 3.5vw;
        width: 8vw;
    }

    .img-edit-user:active {
        scale: 0.9;
    }

    input {
        /*border: 2px solid black;*/
        border: 0;
        border-radius: 20px;
        box-sizing: border-box;
        font-size: 6vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        background-color: #ebebeb;
    }

    input:focus {
        border-radius: 8px;
        outline: none;
    }

    textarea {
        border-radius: 20px;
        background-color: #ebebeb;
        font-size: 3.5vw;
        width: 95%;
        height: 40vw;
        padding: 2vw;
    }

    .searchBar {

    }

    /*https://moderncss.dev/custom-select-styles-with-pure-css/*/
    /*test*/
    select {
        font-size: 6vw;
        border-radius: 20px;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        margin-bottom: 5vw;
        background-color: #ebebeb;
    }

    select option {
        font-size: 6vw;
        border-radius: 20px;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0.5vw;
        background-color: #ebebeb;
    }

    button {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        font-size: 5vw;
        background-color: darkblue;
        color: white;
        border: 0;
        border-radius: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .group-button-div {
        justify-content: center;
    }

    .group-button {
        font-size: 4.3vw;
        text-align: center;
    }

    .index-button {
        width: 90%;
        justify-content: center;
    }

    .arrow-img {
        margin-top: 30%;
        width: 50%;
        height: 50%;
    }

    .arrow-img:active {
        margin-top: 30%;
        width: 35%;
        height: 35%;
        scale: 0.9;
    }

    .arrow-box {
        text-align: center;
        display: flex;
    }

    .nav-img {
        width: 15%;
        height: 15%;
        margin-left: 3%;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .edit-user {
        text-align: center;
    }

    .margin-user-info {
        margin-left: 2vw;
        min-width: 5vw;
        padding: 1vw;
    }

    .user-info-button {
        margin-top: 1vw;
        margin-bottom: 1vw;
        background-color: transparent;
    }

    .user-info-button:disabled {
        opacity: 0.3;
    }

    .quiz-button {
        font-size: 5vw;
        width: 95%;
        margin: 1vw;
    }

    .edit-quiz-button {
        margin: 0;
        width: 100%;
    }

    .aboutUs {
        margin-top: 5%;
    }

    .nav-box {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: transparent;
        margin-bottom: 10px;
        border-radius: 15px;
        border: 1vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    fieldset {
        display: block;
        text-align: center;
        border-radius: 15px;
        border: 1vw solid;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .margin-text {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .animation {
        animation: 1s slide-left;
    }

    @keyframes slide-left {
        from {
            margin-left: 100%;
        }
        to {
            margin-left: 0%;
        }
    }

    .aboutUs {
        margin-top: 5%;
    }

    #page2 {
        display: none;
    }

    .link {
        color: #311e42;
    }

    button:active {
        scale: 0.95;
    }

    .digit-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .digit-div input {
        text-align: center;
        width: 8.5vw;
        height: 8.5vw;
        font-size: 8vw;
        border: 2px solid;
        border-radius: 2vw;
        margin: 3vw;
    }

    .edit-quiz-link {
        display: inline-block;
        width: 95%;
    }
}